
/* Game board */
.board {
    display: grid;
    width: 400px;
    height: 400px;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(9, 1fr);
    gap: 5px 30px;
}

.board-cell {

}