#scores {
    text-align: center;
    margin-top: 40px;
}

#scores table {
    width: 60%;
    margin: 20px auto;
    font-size: 22px;
}

#scores th {
    background-color: antiquewhite;
    padding: 12px;
    border: 2px solid white;
}

#scores td {
    padding: 6px;
    border: 2px solid white;
}

#scores tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}

#scores td:first-child {
    font-weight: bold;
}

#scores tbody tr:hover {
    background-color: #d0e0f0;
    cursor: pointer;
}