h1 {
    margin-left: 20px;
    padding: 10px;
}

p {
    font-size: 30px;
    margin: 20px;
    padding: 10px;
    margin-top: 0;
}

#credits {
    text-align: center;
    margin-top: 40px;
}

#credits h1 {
    margin-bottom: 0;
}

#credits p a {
    text-decoration: underline;
    display: inline-block;
    margin-bottom: 5px;
}

#credits a:hover {
    text-decoration: underline;
    color: darkred;
}